<div class="welcome right">
  
<%= render partial: "/groups/groups", locals: { groups: @groups, title: (student_signed_in? ? "Groups you are in" : "All groups") } %>

<%= render partial: "/courses/courses", locals: { courses: @courses, title: (student_signed_in? ? "Course you are in" : "All courses") } %>

</div>